# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# BlainnflareEngine
build/
.vscode/
.vs/
[Cc]onfig/
*.sln
libs/*
!libs/clone_dependencies.bat
!libs/lua
libs/lua/*
!libs/lua/CMakeLists.txt
logs/*
.idea/
CMakeFiles/
/out
cmake-build-debug
